@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .unsuitable {
    @apply border-2 border-red-500;
  }

  .suitable {
    @apply border-2 border-green-500;
  }

  .duplicate {
    @apply border-purple-500;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }
  
  .skeleton {
    animation: skeleton-loading 1.5s ease-in-out infinite;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
  }
  
  .status-text {
    @apply text-center font-bold text-lg mt-5;
  }

  .button {
    @apply px-4 py-2 text-white rounded cursor-pointer;
  }

  .input {
    @apply ml-4 px-2 py-1 bg-gray-300 text-gray-800 rounded;
  }

  .spinner {
    @apply rounded-md p-4;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}
